body {
    background-color: rgb(30, 6, 55);
    color: white;
}
#app {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header main main"
        "sidebar main main"
        "sidebar main main";
}

.main {
    grid-area: main;
    background-color: tomato;
}

.sidebar {
    grid-area: sidebar;
    background-color: green;
}

.clock {
    grid-area: header;
    background-color: goldenrod;
    font-size: 100px
}
